.menu
   display: flex
   color: #f0f0f0
   &.-header
      @include w1366-
         display: none
   &.-footer
      & > .menu__item
         @include w1200-
            margin-right: 57px
         &:last-child
            @include w1200-
               margin-right: 0
   &__item
      white-space: nowrap
      margin-right: 4.01vw
      @include w1600
         margin-right: 3vw
      @media all and (min-width: 1921px)
         margin-right: 77px
      &:hover
         color: $white
         opacity: 1