.bg-circle
   position: absolute
   z-index: -1
   &.-services
      bottom: -8px
      right: 7px
      transform: translate(55%, 55%)
   &.-service
      top: -18px
      right: 7px
      transform: translate(55%, -55%)
   &.-work
      bottom: -35px
      right: 6px
      transform: translate(55%, 75%)
   &.-question
      top: -13px
      right: 6px
      transform: translate(55%, -28%)
   &.-clients
      top: -119px
      right: 6px
      transform: translate(55%, -50%)
   &.-articles
      bottom: 40px
      left: -25px
      transform: translate(-25%, 75%)
   &.-footer
      &-index
         top: -140px
         left: -25px
         transform: translate(-25%, -25%)
      &-smm
         top: 34px
         right: -20px
         transform: translate(35%, -35%)
   &.-smm
      &-what
         bottom: -200px
         left: 80px
         transform: translate(-75%, 50%)
         @include w1366-
            bottom: 0
            left: 0
            transform: translate(-52%, 57%)
      &-inst
         bottom: 8px
         left: 45px
         transform: translate(25%, 75%)
      &-task
         &-head
            top: -110px
            left: 45px
            transform: translate(25%, -25%)
         &-foot
            bottom: -27px
            right: 5px
            transform: translate(-20%,80%)
            @media all and (max-width: 1280px)
               bottom: -13px
               right: 0
               transform: translate(14%,85%)
      &-plus
         &-head
            top: -42px
            left: 45px
            transform: translate(25%, -95%)
         &-left
            top: 15px
            right: 5px
            transform: translate(-20%, -25%)
            @media all and (max-width: 1280px)
               top: 0
               right: 0
               transform: translate(14%,-20%)
      &-work
         &-head
            top: 0
            right: 5px
            transform: translate(-20%, -65%)
         &-foot
            bottom: 20px
            right: 4px
            transform: translate(37%,75%)
      &-serv
         &-foot
            bottom: 40px
            right: 0
            transform: translate(-39%, 75%)
      &-ads
         &-foot
            bottom: 39px
            right: -20px
            transform: translate(35%, 75%)