.bg-circle
   position: absolute
   &.-services
      top: 85px
      left: 490px
      z-index: -1
   &.-service
      top: -975px
      left: 490px
      z-index: 0
   &.-work
      bottom: -35px
      left: 490px
      transform: translateY(75%)
      z-index: -1
   &.-question
      z-index: 0
      top: -500px
      left: 490px
   &.-clients
      top: -120px
      left: 490px
      transform: translateY(-50%)
      z-index: -1
   &.-articles
      bottom: 40px
      left: -25px
      transform: translate(-25%, 75%)
      z-index: -1
   &.-footer
      &.-index
         top: -140px
         left: -25px
         z-index: 0
         transform: translate(-25%, -25%)