.bg-circle
   position: absolute
   z-index: -1
   &.-services
      top: 85px
      left: 490px
   &.-service
      top: -975px
      left: 490px
   &.-work
      bottom: -35px
      left: 490px
      transform: translateY(75%)
   &.-question
      top: -500px
      left: 490px
   &.-clients
      top: -120px
      left: 490px
      transform: translateY(-50%)
   &.-articles
      bottom: 40px
      left: -25px
      transform: translate(-25%, 75%)
   &.-footer
      &-index
         top: -140px
         left: -25px
         transform: translate(-25%, -25%)
      &-smm
         top: 34px
         right: -20px
         transform: translate(35%, -35%)
   &.-smm
      &-what
         bottom: -200px
         left: 80px
         transform: translate(-75%, 50%)
      &-inst
         bottom: 8px
         left: 45px
         transform: translate(25%, 75%)
      &-task
         &-head
            top: -110px
            left: 45px
            transform: translate(25%, -25%)
         &-foot
            bottom: -27px
            right: 5px
            transform: translate(-20%,80%)
      &-plus
         &-head
            top: -42px
            left: 45px
            transform: translate(25%, -95%)
         &-left
            top: 15px
            right: 5px
            transform: translate(-20%, -25%)
      &-work
         top: -25px
         right: 5px
         transform: translate(-20%, -65%)