block header
	if (page === 'index')
		.first-screen
			header.header
				.header__left-area
					a.logo-link(href="/")
						img.logo-img(src="/assets/img/logo.svg", alt="logotype")
					.header-contacts
						.header-contacts__select
							p.header-contacts__select-check
								span г.&nbsp
								| Санкт–Перербург
							ul.header-contacts__select-list
								li.header-contacts__select-item Краснодар
								li.header-contacts__select-item Москва
						p.contacts-phone
							span +7 (921) 
							| 55-66-846
				.header__menu-area
					+menu('-header')
					button.alt-menu-btn(data-state='no-active')
						span
					button.header__enter
			.first-screen__content.container
				h1 сайты, которые работают
				h3 Мы создаем совершенство
				button.btn-gradient(data-target="want-site") Хочу сайт
	if (page === 'smm')
		.first-screen
			header.header
				.header__left-area
					a.logo-link(href="/")
						img.logo-img(src="/assets/img/logo.svg", alt="logotype")
					.header-contacts
						.header-contacts__select
							p.header-contacts__select-check
								span г.&nbsp
								| Санкт–Перербург
							ul.header-contacts__select-list
								li.header-contacts__select-item Краснодар
								li.header-contacts__select-item Москва
						p.contacts-phone
							span +7 (921) 
							| 55-66-846
				.header__menu-area
					+menu('-header')
					button.alt-menu-btn(data-state='no-active')
						span
					button.header__enter
			.first-screen__content.container
				h1 сайты, которые работают
				h3 Мы создаем совершенство
				button.btn-gradient(data-target="want-site") Хочу сайт