.service-packages
   background:
      image: url('../img/smm/7th-screen_2.jpg')
      repeat: no-repeat
      size: cover
      position-x: 100%
   &__list
      &-wrap
         display: flex
         margin-right: -5px
         margin-left: -5px
         & > .pillar
            margin-left: 5px
            margin-right: 5px