.smm-instagram
   background:
      color: rgb(217, 222, 225)
      image: url('../img/smm/3rd-screen_2.jpg')
      repeat: no-repeat
      size: cover
   @include w1200-
      background-image: none
   &__list
      max-width: 1280px
      padding-left: 85px
      margin-top: -50px
      @include w1200-
         padding-left: 0
         max-width: 618px
         margin-left: auto
         margin-right: auto
      @media all and (min-width: 540px) and (max-width: 767px)
         padding: 0 15px
      &-row
         display: flex
         flex-wrap: wrap
         &:nth-child(2n)
            & .smm-instagram__list-col
               justify-content: flex-end
               @include w1200-
                  justify-content: flex-start
         & .smm-instagram__list-col
            @media all and (min-width: 1200px) and (max-width: 1365px)
               justify-content: center !important
            @include w540-
               justify-content: center !important
               width: 100%
      &-group
         display: flex
         flex-wrap: wrap
         width: 50%
         @include w1200-
            width: 100%
            &:nth-child(2n)
               & > .smm-instagram__list-col
                  justify-content: flex-end
                  @include w540-
                     justify-content: flex-start
      &-col
         width: 50%
         margin-top: 100px
         display: flex
         @include w540-
            margin-top: 50px
   &__item
      max-width: 100%
      width: max-content
      &-icon
      &-name
         font-size: 24px
         +Roboto()

.svg-icon.-smm-instagram
   margin: 0 auto 20px