.targeting-ads
   position: relative
   background:
      image: url('../img/smm/8th-screen_4.jpg')
      repeat: no-repeat
      size: cover
      top: 0
      left: 0
   &__list
      &-wrap
         display: flex
         margin-right: -5px
         margin-left: -5px
         & > .pillar
            margin-left: 5px
            margin-right: 5px