.targeting-ads
   position: relative
   background:
      image: url('../img/smm/8th-screen_4.jpg')
      repeat: no-repeat
      size: cover
   &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      display: block
      // background:
      //    image: url('../img/smm/shape.png')
      //    repeat: no-repeat
      //    size: cover
      top: 0
      left: 0
   &__list
      display: flex
      justify-content: space-between