.targeting-ads
   position: relative
   background:
      image: url('../img/smm/8th-screen_4.jpg')
      repeat: no-repeat
      size: cover
   &:before
      content: ''
      display: block
      width: 1742px
      height: 1742px
      position: absolute
      top: 0
      right: -2px
      transform: translate(-39%,-33%)
      z-index: 0
      background:
         image: url('../img/ov-lg.svg')
         repeat: no-repeat
   &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 0
      background:
         image: url('../img/smm/shape.png')
         repeat: no-repeat
         size: cover
   & h2.title.-bg
      @include w540-
         font-size: 32px
   &__list
      &-wrap
         display: flex
         margin-right: -5px
         margin-left: -5px
         @include w540-
            margin-right: auto
            margin-left: auto
            max-width: 440px
            display: block
         & > .pillar
            margin-left: 5px
            margin-right: 5px
            @media all and (min-width: 540px) and (max-width: 1199px)
               cursor: grab
            @include w540-
               margin-left: 10px
               margin-right: 10px
               margin-bottom: 50px
            &:last-child
               @include w540-
                  margin-bottom: 0